.mainbody{
  background:#ecf0f1;
  overflow: auto;
}
p, form{
  display: inline-block;
}

#svgcontainer{
  background: white;
  border:  1px solid #34495e;
  height: 90%;
  width: 99%;
  position: absolute;
}

a{
  color: #34495e;
  text-decoration: none;
}

.mainbody, a, p{
  font-size:13px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
