body{
  background:#f4f4f4;
  overflow: auto;
}

svg{
  sharp-rendering: crispEdges;
}

.RenderableProtein{
  fill:#ccffcc;
  stroke:green;
}

.RenderableComplex{
  fill:#c5ecff;
  stroke: blue;
}

.RenderableChemical{
  fill:#ccffcc ;
  stroke:green;
}

.RenderableEntitySet{
  fill:#ccffcc ;
  stroke:green;
  stroke-width:2px;
}

.RenderableEntity{
  fill:#ccffcc ;
  stroke:red;
}

.RenderableGene{
  stroke:#333;
  fill:none;
  stroke-width:2;
}

.ProcessNode{
  fill:#E0FEE0;
  stroke:green;
}

.RenderableText {
  font-size: 8px;
  fill: #333333;
}

.RenderableCompartment{
  fill:pink;
  stroke:hotpink;
  z-index: -1;
  fill-opacity: 0.3;
}

.RenderableCompartmentText{
  font-size: 14px;
  fill: #666;
}
